@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.row {
    display: inline-flex;
    gap: 80px;
}

body {
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 25px;
}

section, div, h1, h2, h3, h4, h5, p, span {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    font-style: normal;
    font-weight: 400;
}

button {
    border: none;
    outline: none;
    font-family: "Roboto Mono", monospace;
}

@mixin flexCenter($direct) {
    display: flex;
    flex-direction: $direct;
    align-items: center;
    justify-content: center;
}

// Tab de navegacion
.main_nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    .tab {
        border-left: 2px solid #fff;
        background: none;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        transition: all .2s ease;
        &:hover {
            color: #000;
            background-color: #fff;
        }
    }
}

// Contenedor principal
.main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

// Contenido general de tabs
.tab_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 850px;
    .section__title {
        font-weight: 500;
        font-size: 40px;
        line-height: 100%;
    }
}


// ANCHOR INICIO
#inicio {
    @include flexCenter(row);
    gap: 70px;
    
    img {
        height: 200px;
        width: auto;
    }
    
    .texto {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 30px;

        
        .titular {
            font-weight: 400;
            font-size: 30px;
            line-height: 100%;
            letter-spacing: 0px;
            vertical-align: middle;

        }

        #inicio_btn {
            font-weight: 700;
            font-size: 20px;
            line-height: 100%;
            text-decoration: underline;
            background: none;
            color: #fff;
            cursor: pointer;
        }
    }
}

// ANCHOR SOBRE MI
#sobre_mi p {
    font-size: 20px;
}

// ANCHOR HABILIDADES
#habilidades {
    .main_box {
        display: flex;
        flex-direction: row;
        gap: 50px;
        .box {
            display: flex;
            flex-direction: column;
            align-self: start;
            gap: 20px;

            .content {
                @extend .box;
                gap: 0;
                .habilidad {
                    font-weight: 700;
                    font-size: 20px;                    
                }
                .nivel {
                    font-style: italic;
                    font-size: 16px;
                }
            }
        }
    }
}


#experiencia .main__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;

    .box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
        color: #fff;

        .info {
            width: 220px;

            .fechas {
                font-weight: 400;
                font-size: 16px;
            }

            .lugar {
                font-weight: 700;
                font-size: 24px;
                width: inherit;
            }

            .puesto {
                @extend .fechas;
                font-style: italic;
            }
        }

        .division {
            height: auto;
            width: 2px;
            background-color: #fff;
        }

        .detalles {
            border-left: 2px solid #fff;
            padding-left: 70px;
            li {
                font-family: 'Roboto Mono';
                font-weight: 400;
                font-size: 16px;
            }
        }
    }
}

#educacion .main__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;

    .box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: #fff;

        .info {

            .fechas {
                font-weight: 400;
                font-size: 16px;
            }

            .estudio {
                font-weight: 700;
                font-size: 24px;
            }

            .institucion {
                @extend .fechas;
                font-style: italic;
            }
        }
    }
}

#proyectos .main__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;

    .box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        color: #fff;
        width: 320px;

        .lugar, .tecnologias {
            font-weight: 400;
            font-size: 16px;
        }

        .proyecto_hecho {
            font-weight: 700;
            font-size: 24px;
        }

        .enlace {
            font-family: 'Roboto Mono';
            font-weight: 700;
            font-size: 16px;
            vertical-align: middle;
            text-decoration: underline;
            text-decoration-style: solid;
            color: #fff;
            margin-top: 10px;
        }
    }
}

#testimonios {
    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            width: 200px;
            height: auto;
        }

        p {
            font-weight: 700;
            font-size: 24px;
        }
    }
}

#contacto {
    .row { gap: 120px; }

    .box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        color: #fff;


        .contacto_tipo {
            font-weight: 700;
            font-size: 24px;
        }

        .contacto_info {
            font-weight: 400;
            font-size: 16px;
        }

        .contacto_enlace {
            font-family: 'Roboto Mono';
            font-weight: 700;
            font-size: 16px;
            vertical-align: middle;
            text-decoration: underline;
            text-decoration-style: solid;
            color: #fff;
            margin-bottom: 30px;
        }
    }
}

// Esto es vital
.tab_content { display: none !important; }
.active { display: flex !important; }
// Esto es vital