@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.row {
    display: inline-flex;
    gap: 80px;
}

.col {
    display: flex;
    flex-direction: column;
}



body {
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 25px;
}

section, div, h1, h2, h3, h4, h5, p, span {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    font-style: normal;
    font-weight: 400;
}

button {
    border: none;
    outline: none;
    font-family: "Roboto Mono", monospace;
}

@mixin flexCenter($direct) {
    display: flex;
    flex-direction: $direct;
    align-items: center;
    justify-content: center;
}

// Tab de navegacion
.main_nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    .tab {
        border-left: 2px solid #fff;
        background: none;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        transition: all .2s ease;
        &:hover {
            color: #000;
            background-color: #fff;
        }
    }
}

// Contenedor principal
.main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

// Contenido general de tabs
.tab_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 850px;
    .section__title {
        font-weight: 500;
        font-size: 40px;
        line-height: 100%;
    }
}

// ANCHOR INICIO
#inicio {
    @include flexCenter(row);
    gap: 70px;
    
    img {
        height: 200px;
        width: auto;
    }
    
    .texto {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 30px;

        
        .titular {
            font-weight: 400;
            font-size: 30px;
            line-height: 100%;
            letter-spacing: 0px;
            vertical-align: middle;

        }

        #inicio_btn {
            font-weight: 700;
            font-size: 20px;
            line-height: 100%;
            text-decoration: underline;
            background: none;
            color: #fff;
            cursor: pointer;
        }
    }
}

// ANCHOR SOBRE MI
#sobre_mi p {
    font-size: 20px;
}

// ANCHOR HABILIDADES
#habilidades {
    .main_box {
        display: flex;
        flex-direction: row;
        gap: 50px;
        .box {
            display: flex;
            flex-direction: column;
            align-self: start;
            gap: 20px;

            .content{
                @extend .box;
                gap: 0;
                .habilidad {
                    font-weight: 700;
                    font-size: 20px;                    
                }
                .nivel {
                    font-style: italic;
                    font-size: 16px;
                }
            }

            .content_mb {
                @extend .box;
            }
        }
    }
}


#experiencia .main__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;

    .box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
        color: #fff;

        .info {
            width: 220px;

            .fechas {
                font-weight: 400;
                font-size: 16px;
            }

            .lugar {
                font-weight: 700;
                font-size: 24px;
                width: inherit;
            }

            .puesto {
                @extend .fechas;
                font-style: italic;
            }
        }

        .division {
            height: auto;
            width: 2px;
            background-color: #fff;
        }

        .detalles {
            border-left: 2px solid #fff;
            padding-left: 70px;
            li {
                font-family: 'Roboto Mono';
                font-weight: 400;
                font-size: 16px;
            }
        }
    }
}

#educacion .main__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;

    .box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: #fff;

        .info {

            .fechas {
                font-weight: 400;
                font-size: 16px;
            }

            .estudio {
                font-weight: 700;
                font-size: 24px;
            }

            .institucion {
                @extend .fechas;
                font-style: italic;
            }
        }
    }
}

#proyectos .main__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;

    .box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        color: #fff;
        width: 320px;

        .lugar, .tecnologias {
            font-weight: 400;
            font-size: 16px;
        }

        .proyecto_hecho {
            font-weight: 700;
            font-size: 24px;
        }

        .enlace {
            font-family: 'Roboto Mono';
            font-weight: 700;
            font-size: 16px;
            vertical-align: middle;
            text-decoration: underline;
            text-decoration-style: solid;
            color: #fff;
            margin-top: 10px;
        }
    }
}

#testimonios {
    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            width: 200px;
            height: auto;
        }

        p {
            font-weight: 700;
            font-size: 24px;
        }
    }
}

#contacto {
    .row { gap: 120px; }

    .box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        color: #fff;


        .contacto_tipo {
            font-weight: 700;
            font-size: 24px;
        }

        .contacto_info {
            font-weight: 400;
            font-size: 16px;
        }

        .qr {
            width: 230px;
            height: auto;
            padding: 10px;
            border: 4px solid #fff;
            border-radius: 20px;
        }

        .contacto_enlace {
            font-family: 'Roboto Mono';
            font-weight: 700;
            font-size: 16px;
            vertical-align: middle;
            text-decoration: underline;
            text-decoration-style: solid;
            color: #fff;
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 992px) {
    body {
        flex-direction: column;
        margin: 20px auto;
    }

    a, button { font-size: 16px !important; }

    // Hacer un menu hamburguesa
    .main_nav {
        flex-direction: row;
        max-width: 360px;
        width: 95%;
        margin: auto;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .tab {
            font-size: 16px;
            min-width: 100px;
            border: none;
            padding: 0;
        }
    }

    .tab_content {
        margin-top: 40px;
        gap: 16px;
        overflow: hidden;
        .section__title {
            font-size: 24px;
        }
    }
    
    // INICIO
    #inicio {
        flex-direction: column;
        gap: 16px;
        
        img {
            width: 120px;
            height: auto;
        }

        .texto {
            align-items: center;
            gap: 16px;
            .titular {
                font-size: 20px;
                text-align: center;
            }

            #inicio_btn {
                // font-size: 16px;
            }   
        }
    }

    // SOBRE MI
    #sobre_mi {
        p {
            font-size: 16px;
            text-align: center;
            width: 90%;
            margin: 0 auto;
        }
    }

    // HABILIDADES
    #habilidades {
        .main_box {
            gap: 20px;
            width: 360px;
            flex-direction: column;
            .box {
                flex-direction: row;
                max-width: 360px;
                flex-wrap: wrap;
                margin: auto;

                .content {
                    flex-direction: column;
                    align-items: center;

                    .habilidad { font-size: 18px; }
                    .nivel { font-size: 14px; }
                }

                .content_mb {
                    width: 100%;
                    max-width: 360px;
                    gap: 0px;
                }
            }
        }
    }

    // EXPERIENCIA
    #experiencia {
        .main__box {
            gap: 24px;
            .box {
                flex-direction: column;
                gap: 12px;
                align-items: start;
                width: 90%;
                max-width: 360px;
                margin: auto;

                .info {
                    border-bottom: 1px solid #fff;
                    padding-bottom: 8px;

                    .fechas, .puesto { font-size: 14px; }
                    .lugar { font-size: 20px; }
                }

                .detalles {
                    border: none;
                    padding: 0;
                    width: 90%;
                    max-width: 360px;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    li { font-size: 14px; }
                }

            }
        }
    }

    // EDUCACION
    #educacion {
        .main__box {
            gap: 20px;
            .box {
                flex-direction: column;
                gap: 12px;
                align-items: start;
                width: 90%;
                max-width: 360px;
                margin: auto;

                .info {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    border-bottom: 1px solid #fff;
                    padding-bottom: 12px;

                    .fechas, .institucion { font-size: 14px; }
                    .estudio { font-size: 20px; }
                }

            }
        }
    }

    // PROYECTOS
    #proyectos {
        .main__box {
            gap: 25px;
            .row {
                flex-direction: column;
                gap: 25px;
            }

            .box {
                flex-direction: column;
                gap: 3px;
                align-items: start;
                max-width: 360px;
                margin: auto;
                .lugar, .tecnologias { font-size: 14px; }
                .proyecto_hecho { font-size: 20px; }

                .enlace {
                    margin-top: 0;
                    font-style: italic;
                }
            }
        }
    }

    // CONTACTO
    #contacto {
        .row {
            flex-direction: column;
            gap: 0px;
        }

        .box {
            gap: 2px;
            .qr { margin-top: 10px; }

            .contacto_tipo {
                font-size: 20px;
                background: #fff;
                color: #000;
                padding: 0 5px;
            }

            .contacto_enlace {
                margin-bottom: 20px;
            }
        }
    }

}

@media (max-width: 360px) {
    // HABILIDADES
    #habilidades {
        .main_box {
            gap: 14px;
            .box {
                .content_mb {
                    gap: 14px;
                    flex-direction: column;
                }
            }
        }
    }
}


// Esto es vital
.tab_content { display: none !important; }
.active { display: flex !important; }
// Esto es vital